@charset "UTF-8";
.sec_one {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.sec_one .container .content .slick-slide {
  height: auto;
}
.sec_one .container .content .carousel .slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
  gap: 8px;
}
.sec_one .container .content .carousel .slick-dots li {
  position: relative;
  width: 100px;
  height: 2px;
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.sec_one .container .content .carousel .slick-dots li.slick-active::after {
  width: 100%;
  transition: 5s linear;
}
.sec_one .container .content .carousel .slick-dots li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: chocolate;
}
.sec_one .container .content .carousel .carousel-item {
  position: relative;
  width: 100%;
}
.sec_one .container .content .carousel .carousel-item video,
.sec_one .container .content .carousel .carousel-item img {
  width: 100%;
  display: block;
}
.sec_one .container .content .carousel .carousel-item .video-main_txt {
  margin-top: 15px;
  position: absolute;
  top: 55%;
  left: 6%;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.sec_one .container .content .carousel .carousel-item .video-main_txt h3 {
  font-size: 20px;
  font-weight: 500;
}
.sec_one .container .content .carousel .carousel-item .btn-group {
  display: flex;
  gap: 10px;
}
.sec_one .container .content .carousel .carousel-item .btn-group .btn-outline {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 500;
  overflow: hidden;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.sec_one .container .content .carousel .carousel-item .btn-group .btn-outline::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: white;
  transform: translateX(-50%);
  cursor: pointer;
}
.sec_one .container .content .carousel .carousel-item .btn-group .btn-primary {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.sec_one .container .content .carousel .carousel-item .btn-group .btn-primary:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.sec_one .container .content .carousel-item {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.sec_one .container .content .carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}
.sec_one .container .content .carousel-item .banner-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  max-width: 80%;
}
.sec_one .container .content .carousel-item .banner-text h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sec_one .container .content .carousel-item .banner-text p {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}
.sec_one .container .content .carousel-item .banner-text .banner-button {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sec_one .container .content .carousel-item .banner-text .banner-button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.sec_one .container .content .carousel-item .voucher-text {
  position: absolute;
  top: 55%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  max-width: 40%;
}
.sec_one .container .content .carousel-item .voucher-text p {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
}
.sec_one .container .content .carousel-item .voucher-text .register-btn {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin-top: 20px;
}
.sec_one .container .content .carousel-item .voucher-text .register-btn:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.sec_one .container .content .carousel-item {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.sec_one .container .content .carousel-item .sale {
  position: absolute;
  top: 42%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  max-width: 80%;
}
.sec_one .container .content .carousel-item .sale h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: left;
  color: black;
}
.sec_one .container .content .carousel-item .sale p {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: black;
  line-height: 1.3;
}
.sec_one .container .content .carousel-item .sale .btn-register {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  font-size: 14px;
  position: relative;
  top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: left;
}
.sec_one .container .content .carousel-item .sale .btn-register:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.sec_one .container .content .carousel-item {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.sec_one .container .content .carousel-item .voucher {
  position: absolute;
  top: 42%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  max-width: 80%;
}
.sec_one .container .content .carousel-item .voucher h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: left;
  color: black;
}
.sec_one .container .content .carousel-item .voucher p {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: black;
  line-height: 1.3;
}
.sec_one .container .content .carousel-item .voucher .btn-register {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
  border: none;
  font-size: 14px;
  position: relative;
  top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: left;
}
.sec_one .container .content .carousel-item .voucher .btn-register:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.sec_one .container .content .prev,
.sec_one .container .content .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.5); /* Mặc định màu đen nhạt */
}
.sec_one .container .content .prev {
  left: 20px;
}
.sec_one .container .content .next {
  right: 20px;
}
.sec_one .container .content .prev svg,
.sec_one .container .content .next svg {
  width: 20px;
  height: 20px;
  fill: white; /* Mặc định icon màu trắng */
  transition: fill 0.3s ease-in-out;
}
.sec_one .container .content .prev:hover,
.sec_one .container .content .next:hover {
  background-color: black; /* Khi hover, nền đậm hơn */
}
.sec_one .container .content .slick-prev,
.sec_one .container .content .slick-next {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.sec-product .container .content .content-head .text_block h2 {
  text-align: center;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  line-height: 1.47;
}
.sec-product .container .content .content-head .content-list__common .list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  font-family: "SamsungOne", arial, sans-serif;
}
.sec-product .container .content .content-head .content-list__common .list .item {
  margin: 0 15px;
}
.sec-product .container .content .content-head .content-list__common .list .item .tab__item-title {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-bottom: 5px;
  transition: all 0.3s ease;
  outline: none;
}
.sec-product .container .content .content-head .content-list__common .list .item .tab__item-title .tab__item-line {
  content: "";
  position: absolute;
  bottom: 0;
  top: 21px;
  left: 50%;
  height: 2px;
  background-color: #000;
  width: 0;
  transition: width 0.3s ease, left 0.3s ease;
}
.sec-product .container .content .content-head .content-list__common .list .item .tab__item-title:hover {
  opacity: 0.7;
}
.sec-product .container .content .content-head .content-list__common .list .item .tab__item-title:focus {
  outline: dotted 2px black;
}
.sec-product .container .content .content-head .content-list__common .list .item .tab__item-title:focus .tab__item-line {
  left: 0;
  width: 100%;
}
.sec-product .container .content .content-head .content-list__common .list .item .tab__item-title:active {
  outline: dotted 2px black;
}
.sec-product .container .content .content-head .content-list__common .list .item .tab__item-title:active .tab__item-line {
  left: 0;
  width: 100%;
}
.sec-product .container .content .content-body .slick-slide {
  height: auto;
}
.sec-product .container .content .content-body .item {
  display: flex;
  width: 100%;
  transition: 0.3s ease;
}
.sec-product .container .content .content-body .item .left-column {
  width: 50%;
  padding: 10px;
  position: relative;
}
.sec-product .container .content .content-body .item .left-column .image {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.sec-product .container .content .content-body .item .left-column .image .badge-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2189ff;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  z-index: 10;
}
.sec-product .container .content .content-body .item .left-column .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.sec-product .container .content .content-body .item .left-column .image .text-image {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  color: black;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.sec-product .container .content .content-body .item .left-column .image .text-image .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.sec-product .container .content .content-body .item .left-column .image .text-image .sub-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  transition: transform 0.3s ease-in-out;
}
.sec-product .container .content .content-body .item .left-column .image .btn-register1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 20px);
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}
.sec-product .container .content .content-body .item .left-column .image:hover img {
  transform: scale(1.05);
}
.sec-product .container .content .content-body .item .left-column .image:hover .sub-text {
  opacity: 0;
  visibility: hidden;
}
.sec-product .container .content .content-body .item .left-column .image:hover .btn-register1 {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}
.sec-product .container .content .content-body .item .left-column .image .btn-register1:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.sec-product .container .content .content-body .item .right-column {
  width: 50%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(17rem, 1fr));
  gap: 10px;
}
.sec-product .container .content .content-body .item .right-column .item {
  width: 100%;
  position: relative;
}
.sec-product .container .content .content-body .item .right-column .item:hover .btn-register1 {
  opacity: 1;
  bottom: 2rem;
}
.sec-product .container .content .content-body .item .right-column .item .btn-register1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 10;
}
.sec-product .container .content .content-body .item .right-column .item .btn-register1:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.sec-product .container .content .content-body .item .right-column .item .image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.sec-product .container .content .content-body .item .right-column .item .image .badge-icon_red {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ef3434;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  z-index: 10;
}
.sec-product .container .content .content-body .item .right-column .item .image .badge-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2189ff;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  z-index: 10;
}
.sec-product .container .content .content-body .item .right-column .item .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.sec-product .container .content .content-body .item .right-column .item .image:hover img {
  transform: scale(1.05);
}
.sec-product .container .content .content-body .item .right-column .item .txt-image {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.sec-two .container .content .content-head .text_block h2 {
  text-align: center;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  line-height: 1.47;
}
.sec-two .container .content .content-head .content-list__common__one .list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  font-family: "SamsungOne", arial, sans-serif;
}
.sec-two .container .content .content-head .content-list__common__one .list .item {
  margin: 0 15px;
}
.sec-two .container .content .content-head .content-list__common__one .list .item .tab__item-title {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-bottom: 10px;
  transition: all 0.3s ease;
  outline: none;
}
.sec-two .container .content .content-head .content-list__common__one .list .item .tab__item-title .tab__item-line {
  content: "";
  position: absolute;
  bottom: 0;
  top: 30px;
  left: 50%;
  height: 2px;
  background-color: #000;
  width: 0;
  transition: width 0.3s ease, left 0.3s ease;
}
.sec-two .container .content .content-head .content-list__common__one .list .item .tab__item-title:hover {
  opacity: 0.7;
}
.sec-two .container .content .content-head .content-list__common__one .list .item .tab__item-title:focus {
  border-radius: 50px;
  padding: 8px;
  outline: dotted 2px black;
}
.sec-two .container .content .content-head .content-list__common__one .list .item .tab__item-title:focus .tab__item-line {
  left: 0;
  width: 100%;
}
.sec-two .container .content .content-head .content-list__common__one .list .item .tab__item-title:active {
  padding: 8px;
  border-radius: 50px;
  outline: dotted 2px black;
}
.sec-two .container .content .content-head .content-list__common__one .list .item .tab__item-title:active .tab__item-line {
  left: 0;
  width: 100%;
}
.sec-two .container .content .content-body .slick-slide {
  height: auto;
}
.sec-two .container .content .content-body .item {
  display: flex;
  width: 100%;
  transition: 0.3s ease;
}
.sec-two .container .content .content-body .item .left-column {
  width: 50%;
  padding: 10px;
  position: relative;
}
.sec-two .container .content .content-body .item .left-column .image {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.sec-two .container .content .content-body .item .left-column .image .badge-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2189ff;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  z-index: 10;
}
.sec-two .container .content .content-body .item .left-column .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.sec-two .container .content .content-body .item .left-column .image .text-image {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  color: black;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.sec-two .container .content .content-body .item .left-column .image .text-image .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.sec-two .container .content .content-body .item .left-column .image .text-image .sub-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  transition: transform 0.3s ease-in-out;
}
.sec-two .container .content .content-body .item .left-column .image .btn-register1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 20px);
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}
.sec-two .container .content .content-body .item .left-column .image:hover img {
  transform: scale(1.05);
}
.sec-two .container .content .content-body .item .left-column .image:hover .sub-text {
  opacity: 0;
  visibility: hidden;
}
.sec-two .container .content .content-body .item .left-column .image:hover .btn-register1 {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}
.sec-two .container .content .content-body .item .left-column .image .btn-register1:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.sec-two .container .content .content-body .item .right-column {
  width: 50%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(17rem, 1fr));
  gap: 10px;
}
.sec-two .container .content .content-body .item .right-column .item {
  width: 100%;
  position: relative;
}
.sec-two .container .content .content-body .item .right-column .item:hover .btn-register1 {
  opacity: 1;
  bottom: 2rem;
}
.sec-two .container .content .content-body .item .right-column .item .btn-register1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease;
  z-index: 10;
}
.sec-two .container .content .content-body .item .right-column .item .btn-register1:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.sec-two .container .content .content-body .item .right-column .item .image {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.sec-two .container .content .content-body .item .right-column .item .image .badge-icon_red {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ef3434;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  z-index: 10;
}
.sec-two .container .content .content-body .item .right-column .item .image .badge-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #2189ff;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  z-index: 10;
}
.sec-two .container .content .content-body .item .right-column .item .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.sec-two .container .content .content-body .item .right-column .item .image:hover img {
  transform: scale(1.05);
}
.sec-two .container .content .content-body .item .right-column .item .txt-image {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

html {
  font-size: min(10px, 2.42vw);
}

img,
embed,
object,
iframe {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 96%;
}

a {
  transition: all 0.3s;
}
a:hover {
  opacity: 0.7;
}

.sp {
  display: none;
}

footer {
  padding-left: 96px;
  padding-right: 96px;
  font-size: 13px;
  color: #555;
}
footer .container {
  width: 100%;
  margin: 0 auto;
}
footer .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .content .footer__text {
  text-align: left;
}
footer .container .content .footer__text p {
  margin-bottom: 16px;
  line-height: 1.4;
}
footer .container .content .footer__text:first-child {
  font-weight: 500;
}

.footer__link {
  padding: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.footer__link .container {
  width: 100%;
  margin: 0 auto;
}
.footer__link .container .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__link .container .content .footer-column {
  flex: 1;
  border-right: 1px solid #ddd;
}
.footer__link .container .content .footer-column:last-child {
  border-right: none;
}
.footer__link .container .content .footer-column .nav-footer {
  list-style: none;
}
.footer__link .container .content .footer-column .nav-footer p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer__link .container .content .footer-column .nav-footer .arrow {
  display: none;
}
.footer__link .container .content .footer-column .nav-footer li {
  padding: 7px 0;
}
.footer__link .container .content .footer-column .nav-footer li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: color 0.3s ease;
}
.footer__link .container .content .footer-column .nav-footer li a:hover {
  text-decoration: underline;
  color: #007bff;
}
.footer__link .container .content .footer-column .nav-footer li a.business {
  font-weight: 100;
}
.footer__link .container .content .footer-column .nav-footer li a.business i {
  display: inline-block;
  transform: rotate(45deg);
  margin-left: 0.3125rem;
  transition: transform 0.3s ease;
}

.footer_logo {
  border-bottom: 1px solid #ddd;
}
.footer_logo .container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.footer_logo .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer_logo .container .footer_logo__image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer_logo .container .footer_logo__image .footer_logo__image_right {
  flex: 1;
  font-size: 12px;
  color: #000;
  line-height: 1.5;
  padding: 10px;
}
.footer_logo .container .footer_logo__image .footer_logo__image_right p {
  margin: 6px 0 6px 10px;
}
.footer_logo .container .footer_logo__image .footer_logo__image_left {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
.footer_logo .container .footer_logo__image .footer_logo__image_left .footer-language__anchor {
  display: none;
}
.footer_logo .container .footer_logo__image .footer_logo__image_left .promo__image {
  height: 70px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__menu {
  padding: 10px 0;
}
.footer__menu .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__menu .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  align-items: center;
}
.footer__menu_item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.footer__menu_item_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__menu_item_right .footer-language {
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
.footer__menu_item_right .footer-terms__list {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
}
.footer__menu_item_right .footer-terms__item {
  display: inline-block;
}
.footer__menu_item_right .footer-terms__link {
  text-decoration: none;
  color: #000;
  font-weight: normal;
}
.footer__menu_item_left {
  display: flex;
  align-items: center;
}
.footer__menu_item_left .footer-sns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__menu_item_left .footer-sns__title {
  font-size: 14px;
  cursor: pointer;
}
.footer__menu_item_left .footer-sns__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__menu_item_left .footer-sns__item {
  display: inline-block;
}
.footer__menu_item_left .footer-sns__link {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
.footer__menu_item_left .footer-sns__link:hover {
  transform: scale(1.1);
}
.footer__menu_item_left .footer-sns__icon {
  display: block;
  height: 20px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 768px) {
  footer {
    padding-left: 4.44444444vw;
    padding-right: 4.44444444vw;
  }
  footer .container .content .footer__text p {
    margin-bottom: 12px;
  }
  .footer__link .container .content .footer-column .nav-footer li {
    padding: 3px 0;
  }
  .footer__link {
    width: 100%;
  }
  .footer__link .container .content .footer-column .nav-footer li a {
    font-size: 0.97222222vw;
  }
  .footer__link .container .content .footer-column .nav-footer p {
    font-size: 1.25vw;
  }
  .footer_logo .container .footer_logo__image .footer_logo__image_right {
    font-size: 0.83333333vw;
    color: #000;
    padding: 5px;
  }
  .footer_logo .container .footer_logo__image .footer_logo__image_left {
    padding: 5px;
  }
  .footer_logo .container .footer_logo__image .footer_logo__image_left .promo__image {
    height: 40px;
    width: auto;
  }
  .footer__menu {
    padding: 7px 0;
  }
  .footer__menu_item_left .footer-sns__title {
    font-size: 10px;
    cursor: pointer;
  }
  .footer__menu_item_left .footer-sns__icon {
    height: 15px;
  }
}
@media (max-width: 500px) {
  .footer__link .container .content {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .footer__link {
    border-bottom: none;
  }
  p.toggle-menu {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  .menu-content {
    display: none;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }
  .menu-content.active {
    display: block;
  }
  .footer__link .container .content .footer-column {
    border-right: none;
  }
  .arrow svg {
    transition: transform 0.3s ease;
  }
  .arrow.up svg {
    transform: rotate(180deg);
  }
  .footer__link .container .content .footer-column .nav-footer p {
    font-size: 4.44444444vw;
  }
  .arrow {
    display: inline-block !important;
    position: relative;
    margin-right: 34px;
    margin-left: 8px;
  }
  .toggle-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 5px;
  }
  .footer__link .container .content .footer-column .nav-footer li a {
    font-size: 3.88888889vw;
    line-height: 1.36;
  }
  .footer_logo .container .footer_logo__image .footer_logo__image_left {
    display: block;
    padding-left: 28px;
  }
  .footer_logo .container .footer_logo__image {
    display: block;
  }
  .footer_logo .container .footer_logo__image .footer_logo__image_right {
    font-size: 3.33333333vw;
    padding-left: 28px;
  }
  .nav-footer li {
    margin: 5px 0;
  }
  .footer__menu_item_right .footer-language {
    display: none;
  }
  .footer-language__anchor {
    display: inline-block !important;
    font-size: 3.33333333vw;
    color: #000;
    font-weight: 700;
    padding: 6px;
  }
  .footer__menu_item {
    display: git;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
  }
  .footer-terms__item a {
    font-size: 16px;
    text-decoration: none;
    color: black;
  }
  .footer__menu_item_left .footer-sns__title {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 13px;
    padding: 2.22222222vw 0vw;
    line-height: 1.37;
  }
  .footer__menu_item_left .footer-sns__list {
    display: table;
    margin: 0 auto;
  }
  .footer-terms__item a:hover {
    text-decoration: underline;
  }
  .footer__menu_item_left .footer-sns {
    display: block;
  }
  .footer__menu_item_left .footer-sns__icon {
    height: 20px;
  }
  .footer__menu_item_right .footer-terms__link {
    padding: 0px;
  }
  .footer__link .container .content .footer-column .nav-footer.focused {
    border: 2px dotted #000;
    outline: none;
  }
  .footer__link .container .content .footer-column .nav-footer:hover {
    border: 2px dotted #000;
  }
  .footer__link .container .content .footer-column .nav-footer .arrow:hover {
    border: none;
  }
}
.product .container .content .carousel-slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.product .container .content .carousel-slider .slick-list {
  padding: 0 10px;
}
.product .container .content .carousel-slider .slick-slide {
  height: auto;
}
.product .container .content .carousel-slider .slick-track {
  display: flex;
  gap: 20px;
}
.product .container .content .carousel-slider .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #F5F5F5;
  transition: transform 0.3s ease;
  margin: 10px;
  justify-content: space-between;
  padding: 20px;
}
.product .container .content .carousel-slider .item .product-image-wrap {
  padding: 10px;
}
.product .container .content .carousel-slider .item .product-image-wrap .badge-icon {
  position: absolute;
  top: 20px;
  left: 330px;
  background-color: #2189ff;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  z-index: 10;
}
.product .container .content .carousel-slider .item .product-image-wrap img {
  width: 100%;
  max-width: 280px;
  border-radius: 8px;
  display: none;
}
.product .container .content .carousel-slider .item .product-image-wrap img.active {
  display: block !important;
}
.product .container .content .carousel-slider .item .product-info .product-name {
  font-size: 16px;
  overflow: hidden;
  font-family: "SamsungSharpSans", arial, sans-serif;
  line-height: 1.33;
  font-weight: bold;
  text-align: center;
  color: #000;
  display: none;
  margin: 0;
}
.product .container .content .carousel-slider .item .product-info .product-name.active {
  display: block;
}
.product .container .content .carousel-slider .item .my-recommended-product__card--color .option-selector__color-name {
  font-weight: bold;
  line-height: 1.33;
  font-size: 0.83333333vw;
}
.product .container .content .carousel-slider .item .my-recommended-product__card--color .option-selector__color-name .color-name-text {
  font-weight: 300;
}
.product .container .content .carousel-slider .item .product-options1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.product .container .content .carousel-slider .item .product-options1 input[type=radio] {
  display: none;
}
.product .container .content .carousel-slider .item .product-options1 .option-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  min-width: 80px;
  text-align: center;
  color: black;
  border: 2px solid transparent;
}
.product .container .content .carousel-slider .item .product-options1 input[type=radio]:checked + .option-label {
  border: 2px dashed black;
}
.product .container .content .carousel-slider .item .product-options2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.product .container .content .carousel-slider .item .product-options2 input[type=radio] {
  display: none;
}
.product .container .content .carousel-slider .item .product-options2 .option-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  min-width: 80px;
  text-align: center;
  color: black;
  border: 2px solid transparent;
}
.product .container .content .carousel-slider .item .product-options2 input[type=radio]:checked + .option-label {
  border: 2px dashed black;
}
.product .container .content .carousel-slider .item .product-options {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.product .container .content .carousel-slider .item .product-options input[type=radio] {
  display: none;
}
.product .container .content .carousel-slider .item .product-options .option-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  min-width: 80px;
  text-align: center;
  color: black;
  border: 2px solid transparent;
}
.product .container .content .carousel-slider .item .product-options input[type=radio]:checked + .option-label {
  border: 2px dashed black;
}
.product .container .content .carousel-slider .item .color-options {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}
.product .container .content .carousel-slider .item .color-options input {
  display: none;
}
.product .container .content .carousel-slider .item .color-options .color-label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 1px solid;
}
.product .container .content .carousel-slider .item .color-options .color-label.gray {
  background-color: #4a4a4a;
}
.product .container .content .carousel-slider .item .color-options .color-label.silver {
  background-color: #c0c0c0;
}
.product .container .content .carousel-slider .item .color-options .color-label.white {
  background-color: white;
}
.product .container .content .carousel-slider .item .color-options .color-label.jadegreen {
  background-color: #afeeee;
}
.product .container .content .carousel-slider .item .color-options .color-label.black {
  background-color: #0a0a0a;
}
.product .container .content .carousel-slider .item .color-options .color-label.iceblue {
  background-color: #E0FFFF;
}
.product .container .content .carousel-slider .item .color-options .color-label.silver-buds {
  background-color: #c0c0c0;
}
.product .container .content .carousel-slider .item .color-options input:checked + .color-label {
  border: 2px dashed black;
}
.product .container .content .carousel-slider .item .product-price {
  text-align: center;
  font-family: "SamsungSharpSans", arial, sans-serif;
}
.product .container .content .carousel-slider .item .product-price .product-price-save {
  font-size: 12px;
  color: #1a73e8;
  display: none;
  line-height: 1.2;
}
.product .container .content .carousel-slider .item .product-price .product-price-save.active {
  display: block;
}
.product .container .content .carousel-slider .item .product-price .product-price-save span {
  font-size: 12px;
  font-weight: bold;
  color: #1a73e8;
}
.product .container .content .carousel-slider .item .product-price .product-price-save del {
  font-size: 12px;
  color: #000;
  text-decoration: line-through;
  opacity: 0.8;
  display: inline-block;
}
.product .container .content .carousel-slider .item .product-price .product-price1 {
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}
.product .container .content .carousel-slider .item .product-price .product-price1 .product-price {
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}
.product .container .content .carousel-slider .item .product-price .product-price1 .product-price.active {
  display: block;
}
.product .container .content .carousel-slider .item .my-recommended-product__card-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.product .container .content .carousel-slider .item .my-recommended-product__card-cta .card-cta {
  display: inline-block;
  background: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 8px 70px;
  border-radius: 40px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.product .container .content .carousel-slider .item .my-recommended-product__card-cta .card-cta:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.product .container .content .slick-prev, .product .container .content .slick-next {
  width: 40px;
  height: 40px;
  background: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.product .container .content .slick-prev:before, .product .container .content .slick-next:before {
  color: #fff;
  font-size: 20px;
}
.product .container .content .slick-dots {
  bottom: -30px;
}
.product .container .content .slick-dots li button:before {
  font-size: 12px;
  color: #333;
}
.product .container .content .slick-dots li.slick-active button:before {
  color: #000;
}

.cart {
  padding: 20px;
}
.cart .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.cart .container .content .cart__card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cart .container .content .cart__card .left {
  display: flex;
  gap: 20px;
}
.cart .container .content .cart__card .left .product-image-cart {
  padding: 10px;
}
.cart .container .content .cart__card .left .product-image-cart img {
  max-width: 120px;
  height: 150px;
}
.cart .container .content .cart__card .left .product-txt h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 8px;
}
.cart .container .content .cart__card .left .product-txt .cart__options {
  color: #666;
  font-size: 14px;
}
.cart .container .content .cart__card .left .product-txt .cart__sku {
  font-size: 14px;
  color: #666;
  margin: 8px 0;
}
.cart .container .content .cart__card .left .product-txt .cart__stock {
  color: #666;
  font-size: 14px;
}
.cart .container .content .cart__card .left .cart-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 26px;
}
.cart .container .content .cart__card .left .cart-details .cart-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart .container .content .cart__card .left .cart-details .cart-price .current-price {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.cart .container .content .cart__card .left .cart-details .cart-price .original-price {
  font-size: 18px;
  color: black;
  text-decoration: line-through;
}
.cart .container .content .cart__card .left .cart-details .delete {
  cursor: pointer;
  margin-top: 20px;
}
.cart .container .content .cart__card .left .cart-details .delete svg {
  transition: all 0.2s;
}
.cart .container .content .cart__card .left .cart-details .delete svg:hover {
  fill: #d70018;
}
.cart .container .content .cart__card .left .number-input {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  justify-content: space-between;
}
.cart .container .content .cart__card .left .number-input button {
  background-color: white;
  border: none;
  color: #ccc;
  font-size: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart .container .content .cart__card .left .number-input button:focus {
  outline: none;
}
.cart .container .content .cart__card .left .number-input button:hover {
  color: black;
}
.cart .container .content .cart__card .left .number-input .number {
  font-size: 18px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */